<style>
  .pagination>li>a { border-radius: 50% !important;margin: 0 20px;}
</style>
<nav id='paginator'aria-label="Page navigation example" class="d-flex p-2 justify-content-between">
  <ul class="pagination">
    <li class="page-item">
      {% if posts.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ posts.previous_page_number }}"><</a>
      {% endif %}
    </li>
    <span class="current">
      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>
    <li class="page-item">
      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">></a>
      <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </li>
  </ul>
</nav>