{% extends 'blog_app/base.html' %}

{% block main_block %}

    <article>
        <figure>
         <img src="https://placebear.com/1280/720" class="rounded" alt="{{post.title}}">
        </figure>
        <div class="mt-3">
            <h1>{{post.title}}</h1>
            <p class="text-muted">
                Published {{ post.date_created }} by <strong>{{ post.author }}</strong>
            </p>
        </div>
        <div class="article-body">
                {{post.body|linebreaks}}
        </div>
            <div>
                    {% if not post.comments.all  %}
                    No Comment yet
                    {% else  %}

                            {% for comm in post.comments.all %}
                            
                                <div class="card" >
                                    <div class="card-body">
                                        <p class="card-title"> published by: {{comm.username}}</p>
                                        <p class="card-text">{{comm.body}}</p>
                                    <span class="text-muted float-right"> {{comm.created_at}} </span>
                                    </div>
                                </div>
                            
                        
                            {% endfor %}

                    {% endif %}
            
            </div>
        
    </article>
    
   
{% endblock %}