{% extends 'blog_app/base.html' %}

{% block main_block %}

    <article>
        <figure>
            {% if not post.picture %}
            <img src="https://via.placeholder.com/1280x720" class="rounded" alt="{{post.title}}">
            {% else %}
            <img src="{{ post.picture.url }}" class="rounded" alt="{{post.title}}">
            {% endif %}
        </figure>
        <div class="mt-3">
            <h1>{{post.title}}</h1>
            <p class="text-muted">
                Published {{ post.date_created }} by <strong>{{ post.author }}</strong>
                
            </p>
        </div>
        <div class="article-body">
                {{post.body|linebreaks}}
        </div>
        
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm" name="post_id" value="{{ post.id }}">
                <i class="fa fa-thumbs-up">Like</i>
            </button>
        </form>
        
        {% if not post.comments.all  %}
              <h1 class="comments-title">no Comments yet....... </h1>      
        {% else  %}
                    <h1 class="comments-title">Comments </h1>

                {% for comm in post.comments.all %}
                            
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                        <div class="container">
                            <div class="be-comment-block">
                                    
                                    <div class="be-comment">
                                            <div class="be-comment-content">
                                                
                                                    <span class="be-comment-name">
                                                    {{comm.username}}
                                                        </span>
                                                    <span class="be-comment-time">
                                                        <i class="fa fa-clock-o"></i>
                                                        {{comm.created_at}}
                                                    </span>

                                                <p class="be-comment-text">
                                                {{ comm.body}}
                                                </p>
                                            </div>
                                    </div>
                                
                                
                            </div>
                        </div>
                                            
                        
                {% endfor %}

        {% endif %}

                            <form  method="POST" action="{% url 'addcomment' %}">
                            {% csrf_token %}
                            <input type="hidden" name="p_id" value="{{ post.id }}">
                        
                            <textarea class="comm-body" rows="5" cols="50"  id="body" placeholder=" write your comment...... " name="body"></textarea>
                            <button class="btn btn-success" type="submit"> Comment </button>
                            </form>
                           
            
        
    </article>
    
   
{% endblock %}