{% extends 'blog_admin/base.html' %}

{% block main_block %}

<div class="container-fluid">
    <h1>Manage Categories</h1>
</div>
<table class="table">
    <tr>
        <th>Name</th>
        <!-- <th>Author</th>
        <th>Date Created</th> -->
    </tr>
    <br>
    {% for category in categories %}
    <tr>
        <td>{{ category.name }}</td>
        <!-- <td><button class="btn btn-warning" ></button></td> -->
        <!-- <td><button class="btn btn-danger" href= "{% url 'del_cat' category.id %}">Delete</button></td> -->
        <td><a class="btn btn-warning" href= "{% url 'del_cat' category.id}" >Delete</a></td>
        <td><a class="btn btn-danger" href= "{% url 'edit_cat' category.id}" >Edit</a></td>

    </tr>
    {% endfor %}
</table>
<a class="btn btn-success" href="{% url 'add_category' %}">Add category</a>
</div>
{% endblock %}

