{% extends 'blog_admin/base.html' %}

{% block main_block %}

<div class="container-fluid">
    <h1>Manage Forbidden Words</h1>
</div>

<table class="table">
    <tr>
        <th>Word</th>
        <!-- <th>Author</th>
        <th>Date Created</th> -->
    </tr>
    <br>
    {% for word in words %}
    <tr>
        <td>{{ word.name }}</td>
        <td><a class="btn btn-danger" href="{% url 'del_fWord' word.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-success" href="{% url 'add_fWord' %}">Add Word</a>
</div>
{% endblock %}